<div class="container-fluid">
	<div class="row">
		
		<div class="col-lg-2 nav_bg navbar-curved-large stick">

	<div class="row ">
		<div class="col-3  mt-2">
			<img src="../assets/DSC_0179.jpeg" class="round-img">
			
		</div>
	
		<div class="col ">
			
				<div class="container ">
					<nav class="navbar navbar-expand-lg  mt-2 text-style ">
						<h1 class="navbar-brand mt-3 mobile">Curriculam Vitae</h1>
					<button class="navbar-toggler mt-2  " type="button" data-bs-toggle="collapse"
						data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
						aria-expanded="false" aria-label="Toggle navigation">

						<mat-icon class="icon-css" aria-hidden="false" aria-label="Example home icon" fontIcon="home"></mat-icon>
					</button>

					<div class=" collapse navbar-collapse " id="navbarSupportedContent">
						<ul class="navbar-nav flex-column">
							<li class="nav-item ">
								<a class="nav-link" href="#">Experience</a>
							</li>
							<li class="nav-item ">
								<a class="nav-link" href="#">Job Responsibilities</a>
							</li>
							
							<li class="nav-item">
								<a class="nav-link" href="#">Education</a>
							</li>
							<li class="nav-item">
								<a class="nav-link" href="#">Skills</a>
							</li>
							<li class="nav-item">
								<a class="nav-link" href="#">Description</a>
							</li>
						</ul>
					</div>
				</nav>
				</div>
			

		</div>
	</div>

		</div>
	
		<div class="col-lg-10 nav_ng3">

			<div class="row mt-4">
				<div class="card_body">
					<div class="col-lg-10 ">
						<h1 class="name-text ">Raahul Prasad</h1>
					</div>
					<div class="row  mt-2">
						<h5 class="address-text">
							9751880983, raahulprasad4gmail.com
						</h5>
						<h5 class="address-text">
							12, Pillaiyar Kovil st, NIK Avenue, Mettukuppam, Thuraipakkam, Chennai - 603103
						</h5>
					</div>
				</div>






				<div class="row mt-4">

					<div class="col-lg-3 mt-2 head-text col">Experience</div>
					<div class="col-lg col offset-lg-4 mt-2 head-text2">2021 Nov - Current</div>

				</div>

				<div class="row mt-4">

					<div class="exp-text col-lg-3 col-4">Company</div>
					<div class="exp-text  col-lg col">
						: Tata Consultancy Services
					</div>

				</div>

				<div class="row mt-2">
					<div class="exp-text col-lg-3 col-4">Designation</div>
					<div class="exp-text  col-lg col">: System Engineer</div>

				</div>

				<div class="row mt-2">
					<div class="exp-text col-lg-3 col-4">Technology</div>
					<div class="exp-text  col-lg col">: Angular 14</div>

				</div>

				<div class="row mt-2">
					<div class="exp-text col-lg-3 col-4">Skills</div>
					<div class="exp-text  col-lg col">
						: Type Script, Java Script, HTML, Css
					</div>

				</div>
				<div class="row mt-4">

					<div class="col-lg-5 mt-2 head-text col">Job Responsibilities</div>

				</div>
				<div class="row mt-4">

					<div class="col-lg mt-2 exp-text col">
						<li>Collaborated with cross-functional teams to gather requirements, design solutions, and
							deliver high-quality software products.</li>
						<li>Utilized Angular Material and custom CSS to create consistent and visually appealing
							UI designs.
						</li>
						<li>Integrated RESTful APIs and handled asynchronous operations using Observables and
							Promises.</li>
						<li>Conducted code reviews and performed debugging to ensure code quality and
							maintainability.
						</li>
						<li>Resolving bugs, changing existing functional development for change request (CR) and
							creating new features.</li>
						<li>Perform Functionality, UI, Regression, and Acceptance testing to ensure all features
							are working exactly as expected.
						</li>
						<li>Analyze formal test results in order to discover and report any bugs and errors,
							configuration issues, and interoperability flaw.</li>
						<li>Documented detailed test results and effectively communicate to the team, information
							about defects and issues found during testing.</li>
					</div>

				</div>
				<div class="row mt-4">

					<div class="col-lg-3 mt-2 head-text col">Education</div>

				</div>

				<div class="row mt-4">

					<div class="exp-text col-lg-3 col-6">
						KLN College of Engineering
					</div>
					<div class="exp-text col-lg-7 col-6">: MCA - 2021</div>
					<p class="col-lg-3 per-text mt-2">Percentage: 88%</p>

				</div>

				<div class="row mt-2">

					<div class="exp-text col-lg-3 col-6">The Madura College</div>
					<div class="exp-text col-lg-7 col-6">: B.sc IT - 2019</div>
					<p class="col-lg-3 per-text mt-2">Percentage: 68%</p>

				</div>

				<div class="row mt-2">

					<div class="exp-text col-lg-3 col-6">
						Jothi Higher Secondary School
					</div>
					<div class="exp-text col-lg-7 col-6">: HSC - 2016</div>
					<p class="col-lg-3 per-text mt-2">Percentage: 72%</p>

				</div>

				<div class="row mt-2">

					<div class="exp-text col-lg-3 col-6">
						Jothi Higher Secondary School
					</div>
					<div class="exp-text col-lg-7 col-6">: SSLC - 2014</div>
					<p class="col-lg-3 per-text mt-2">Percentage: 93%</p>

				</div>

				<div class="row mt-4">

					<div class="col-lg-3 mt-2 head-text col">Skills</div>

				</div>

				<div class="row mt-4">

					<div class="exp-text col-lg-3 col">Scripting Languages</div>
					<div class="exp-text col-lg col">
						: Type Script, Java Script
					</div>

				</div>

				<div class="row mt-3">

					<div class="exp-text col-lg-3 col">Techonology</div>
					<div class="exp-text col-lg col">: Angular, Node.js</div>

				</div>
				<div class="row mt-3">

					<div class="exp-text col-lg-3 col">Tools</div>
					<div class="exp-text col-lg col">
						: VS Code, Postman, Azure Ticketing Tool, Github
					</div>

				</div>

				<div class="row mt-3">

					<div class="exp-text col-lg-3 col">Databases</div>
					<div class="exp-text col-lg col">: Mongo DB</div>

				</div>

			</div>
		</div>

	</div>
</div>